<a href="https://colab.research.google.com/github/Hannah1123/Pytorch_note/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries in Python

### What are Dictionaries?
A Python dictionary is a built-in data type which consists of a key and an associated value. Dictionaries are indexed by *key*. In simple terms, a dictionary is a set of *key : value* pairs, where *key* has to be unique. The value can be almost any Python object. 

In this section we will discuss about **dictionaries** in details which is an important data structure in python.

## Real-World Example

The real-world example could be phone book in which contact names act as key and their corresponding phone number as value. Phone books allow you to quickly retrieve the information (phone number) associated with a given key (a person’s name). So, instead of having to read a phone book front to back in order to find someone’s number, you can jump more or less directly to a name and look up the associated information. 


Dictionaries allow you to quickly find the information associated with a given key. Dictionaries are mutable, which means they can be changed. The values that the keys point to can be any Python value. Dictionaries are unordered, so the order that the keys are added doesn't necessarily reflect what order they may be reported back.


In summary, dictionaries are one of the most frequently used and most important data structures in computer science. So, how does Python handle dictionaries? Let’s take a tour of the dictionary implementations available in core Python and the Python standard library.

## Outline

The following will be discussed in this section:

    1) Constructing and accessing objects (values) from dictionary
    2) Add a value to the dictionary
    3) Remove a key and it's value
    4) Check the length of dictionary and test the dictionary
    5) Various ways to print all the keys and values 
    6) Sorting the dictionary
    7) Nesting Dictionaries
    8) Merging Dictionaries

### 1. Constructing a Dictionary and accessing objects (values) from dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [ ]:
# Creating a dictionary with '{}' curly brackets  and ':' colon to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
# Print values by their key using '[]' square brackets to index it.
print(my_dict['key1'])

value1

We can also create keys by assignment. For instance, if we started off with an empty dictionary, we could continually add data to it:

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog' # Here animal is the 'Key' and Dog is the 'value'

In [ ]:
# Can do this with any object
d['answer'] = 42 # Here answer is the 'Key' and 42 is the 'value'

In [ ]:
# Print the keys and values of the variable d
print(d)

{'animal': 'Dog', 'answer': 42}

In [ ]:
# Now lets take a practical example and create a phone book:
phonebook = {'Shamsheer':487723456, \
'Saqib':409238403, 'Nabin':476230945, \
'Michael':482723144}

In [ ]:
# Now lets print the phonebook
print(phonebook)

{'Shamsheer': 487723456, 'Saqib': 409238403, 'Nabin': 476230945, 'Michael': 482723144}

In [ ]:
# If you want to search a Phone Number of a specific person. Please make sure that the Keys are unique.
phonebook['Shamsheer']

487723456

### 2. Add a value to the dictionary
***Syntax is mydict[key]="value" ***
   
#### Task: "Add entry of your name with number to the phone and print the dictionary"

In [ ]:
# phonebook[]= your id
phonebook['hannah'] = 123456

# print the dictionary
print(phonebook)

{'Shamsheer': 487723456, 'Saqib': 409238403, 'Nabin': 476230945, 'Michael': 482723144, 'hannah': 123456}

### 3. Remove a key and it's value
***Syntax is del mydict[key]***

In [ ]:
del phonebook["Shamsheer"]
print(phonebook)

{'Saqib': 409238403, 'Nabin': 476230945, 'Michael': 482723144, 'hannah': 123456}

### 4. Check the length of dictionary and test the dictionary
The len() function gives the number of pairs in the dictionary.

In [ ]:
print(len(phonebook))

4

In [ ]:
# Test the dictionary
# Check if a key exists in a given dictionary by using the 'in' operator like this:
'Shamsheer' in phonebook

False

In [ ]:
# Applying explicit looping to find a key
for name in phonebook:
    if "Shamsheer" in phonebook:
        print("Key found")
        break
    else:
        print("Key not found")

Key not found
Key not found
Key not found
Key not found

### 5. Various ways to print all the keys and values

In [ ]:
# Printing all the keys with the help of 'for' loop
for key in phonebook:
    print(key)

Nabin
Saqib
Michael

In [ ]:
# Printing all the values with the help of 'for' loop
for key in phonebook:
    value= phonebook[key]
    print(value)

476230945
409238403
482723144

In [ ]:
# Printing all the Keys with the direct 'keys' function
keys=phonebook.keys()
print(keys)

dict_keys(['Nabin', 'Saqib', 'Michael'])

In [ ]:
# Printing all the values with the direct 'values' function
values=phonebook.values()
print(values)

dict_values([476230945, 409238403, 482723144])

In [ ]:
# Printing keys and values at the same time using 'for' loop
for key,val in phonebook.items():
    print (key, val)

Shamsheer 487723456
Saqib 409238403
Nabin 476230945
Michael 482723144

In [ ]:
print(phonebook.items())

dict_items([('Shamsheer', 487723456), ('Saqib', 409238403), ('Nabin', 476230945), ('Michael', 482723144)])

### 6. Sorting the dictionary

In [ ]:
#Before sorting
for key, value in phonebook.items():
    print(key,value)
    
print("********************")

# After Sorting. The 'sorted' function can be directly used with the dictionary to sort the data in an 
# alphabetical order.
for key, value in sorted(phonebook.items()):
    print (key, value)

Nabin 476230945
Saqib 409238403
Michael 482723144
********************
Michael 482723144
Nabin 476230945
Saqib 409238403

### 7. Nesting Dictionaries

It is important to note that dictionaries are very flexible in the data types they can hold.
For instance:

In [ ]:
# Here 123 is an integer, [12, 23, 33] is an integer array, and ['item0','item1','item2'] is a string array.
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Lets call all the items from the dictionary.
my_dict['key3']

['item0', 'item1', 'item2']

In [ ]:
# Lets call only one value instead of all items from the key3.
my_dict['key3'][0]

'item0'

In [ ]:
# Lets apply methods on that value.
my_dict['key3'][0].upper()

'ITEM0'

**Similary we can apply this method on our phonebook example.**

In [ ]:
# Lets add another user having name Tom with its phone number and email address
phonebook['Tom']=[485630183, 'tom@uts.edu.au']
for keys,values in phonebook.items():
    print(keys,values)

Shamsheer 487723456
Saqib 409238403
Nabin 476230945
Michael 482723144
Tom [485630183, 'tom@uts.edu.au']

#### Task: "Create a phonebook and add contact details of 3 friends and print it."

In [ ]:
# phonebook[] = [phonenumber, 'email-id']

# Use one of the methods mentioned above to print the keys and values of the dictionary.

### 8. Merging Dictionaries

How about concatenating dictionaries!

The update() method merges the keys and values of one dictionary into another and overwrites values of the same key.

**Example:**

In [ ]:
# Task: Create two Dictionaries
phonebook1 = {'Shamsheer':880633667, \
'Saqib':678434645, 'Nabin':765834409, \
'Michael':112234523}

phonebook2 = {'Robert':34056616, \
'Saqib':678434673, 'Nabin':765834448, \
'Smith':982256526}

In [ ]:
# Write the code to show the dictionary contents:
print (phonebook1)
print (phonebook2)

{'Nabin': 765834409, 'Saqib': 678434645, 'Michael': 112234523, 'Shamsheer': 880633667}
{'Smith': 982256526, 'Nabin': 765834448, 'Robert': 34056616, 'Saqib': 678434673}

In [ ]:
# Lets merge them together!
# Syntax: dictionay1.update(dictionary2)
# Give it try!

phonebook1.update(phonebook2)
print(phonebook1)

{'Shamsheer': 880633667, 'Saqib': 678434673, 'Nabin': 765834448, 'Michael': 112234523, 'Robert': 34056616, 'Smith': 982256526}

In [ ]:
phonebook1.values()

dict_values([880633667, 678434673, 765834448, 112234523, 34056616, 982256526])

In [ ]:
phonebook3 = phonebook1.copy()

In [ ]:
print(phonebook3)

{'Shamsheer': 880633667, 'Saqib': 678434673, 'Nabin': 765834448, 'Michael': 112234523, 'Robert': 34056616, 'Smith': 982256526}

In [ ]:
phonebook3.items()

dict_items([('Shamsheer', 880633667), ('Saqib', 678434673), ('Nabin', 765834448), ('Michael', 112234523), ('Robert', 34056616), ('Smith', 982256526)])



### References

1. _Python for Everybody: Exploring Data Using Python 3_ (2016). Charles R. Severance. [PDF available](http://do1.dr-chuck.com/pythonlearn/EN_us/pythonlearn.pdf)
2. https://www.tutorialspoint.com/python/python_dictionary.htm

### Hopefully we now have a good basic understanding of how to construct dictionaries.